cat << 'EOF' > .gitignore
# Python bytecode
*.pyc
__pycache__/

# Virtual Environments (Anywhere)
venv/
.venv/

# Environment Variables
.env

# Editor
.vscode/

# Logs
*.log
logs/

# Temporary
tmp/

# Database
*.db
*.sqlite
*.sqlite3

# Backups
MY_HOME_SYSTEM/db_backup/

# Private Assets (Images, PDFs)
assets/snapshots/
assets/salary_images/
*.jpg
*.png
*.pdf
# *.txt
*.zip
*.json
family_events.json
EOF